<%= form_with(model: intervention, local: true) do |form| %>
  <% if intervention.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(intervention.errors.count, "error") %> prohibited this intervention from being saved:</h2>

      <ul>
      <% intervention.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :employee_id %>
    <%= form.select :employee_id, options_from_collection_for_select(Employee.all, "id", "first_name",  "last_name"), include_blank: "-None-" %>
  </div>

 <div class="col-md-4 text-center selcust">
      <%= form.label :customer %>
      <%= form.select :customer_id, Customer.all.collect {|p| [p.compagny_name, p.id]} %>
  </div>

  <div class="field">
    <%= form.label :building_id %>
    <%= form.select :building_id, Building.all.collect{|p| [p.id]} %>
  </div>

  <div class="field">
    <%= form.label :battery_id %>
    <%= form.select :battery_id, Battery.all.collect{|p| [p.id]} %>
  </div>

  <div class="field">
    <%= form.label :column_id %>
    <%= form.select :column_id, Column.all.collect{|p| [p.id]} %>
  </div>

  <div class="field">
    <%= form.label :elevator_id %>
    <%= form.select :elevator_id, Elevator.all.collect{|p| [p.id]} %>
  </div>

  <div class="field">
    <%= form.label :startdate %>
    <%= form.datetime_select :startdate %>
  </div>

  <div class="field">
    <%= form.label :enddate %>
    <%= form.text_field :enddate %>
  </div>

  <div class="field">
    <%= form.label :result %>
    <%= form.text_field :result %>
  </div>

  <div class="field">
    <%= form.label :report %>
    <%= form.text_area :report %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
